<style>
  h3 {
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
  }
</style>
<section>
  <article>
    <h3>제 1 조 (목적)</h3>
    <p>본 약관은 H6(이하 “소모임”)이 제공하는 한담(이하 “서비스”)의 이용에 관한 제반사항을 정하는 것을 목적으로 합니다.</p>
  </article>
  <article>
    <h3>제 2 조 (용어의 정의)</h3>
    <p>① 본 약관에서 사용하는 용어의 정의는 다음과 같습니다.</p>
    <ol>
      <li>1. “서비스”란 “소모임”이 한성대학교 학생들에게 정보를 지원하기 위해 “회원”에게 “애플리케이션”을 제공하는 서비스를 말합니다.</li>
      <li>2. “회원”이라 함은 본 약관에 따라 이용계약을 체결하고 “서비스”를 이용하는 사람을 말합니다.</li>
      <li>3. “애플리케이션”이란 “서비스” 내에서 제공되는 단위 서비스를 말합니다.</li>
    </ol>
    <p>② 본 약관에서 별도로 정하지 아니한 용어는 전자금융거래법 및 관계법령 등에서 정하는 바에 따릅니다.</p>
  </article>
  <article>
    <h3>제 3 조 (약관의 효력)</h3>
    <p>① 본 약관은 “서비스”를 이용하기 위해 “회원”이 본 서비스에 접속하여 약관의 내용에 동의를 한 다음 회원가입 신청을 하고 “소모임”이 이러한 신청에 대하여 승낙함으로써 효력을 발휘합니다.</p>
    <p>② “소모임”은 본 약관의 내용을 “회원”이 쉽게 알 수 있도록 서비스 화면을 통해 바로 약관 내용을 확인할 수 있는 메뉴를 제공합니다.</p>
  </article>
  <article>
    <h3>제 4 조 (서비스의 내용)</h3>
    <p>“회원”에게 제공하는 “서비스”는 다음과 같습니다.</p>
    <p>① “한담”에서 제공하는 “애플리케이션”은 다음과 같습니다.</p>
    <ol>
      <li>1. 강의평가: 한성대학교 강의에 대한 평가</li>
      <li>2. 커뮤니티: 한성대학교 커뮤니티</li>
      <li>3. 플러스 서비스 : 주간 인기 투표 등</li>
    </ol>
    <p>④ “회원”의 수집된 정보 분석을 통하여 “회원”에게 혜택 정보 및 맞춤형 정보 등을 제공할 수 있습니다.</p>
    <p>⑤ “소모임”은 “서비스” 개선을 위하여 필요한 경우 “애플리케이션” 종류를 추가하거나 변경할 수 있습니다.</p>
  </article>
  <article>
    <h3>제 5 조 (회원 정보의 수집 및 분석)</h3>
    <p>① “소모임”은 이용계약을 위하여 “회원”이 제공한 정보 외에도 수집목적 또는 이용목적을 밝혀 “회원”으로부터 필요한 개인정보 또는 거래정보를 수집할 수 있습니다.</p>
    <p>② “소모임”은 정보 수집을 위하여 “회원”의 동의를 받는 경우, “소모임”은 수집하는 정보의 항목 및 수집방법, 수집목적 및 이용목적, 정보의 보유 및 이용기간, 제3자에 대한 정보제공 사항을
      개인정보처리방침으로 미리 명시하거나 고지합니다.</p>
    <p>③ “소모임”은 “회원”의 수집된 정보를 분석하여 “회원”에게 혜택 정보 및 최적화된 맞춤형 정보 등을 제공할 수 있습니다.</p>
  </article>
  <article>
    <h3>제 6 조 (서비스 중지 및 해지)</h3>
    <p>① 본 “서비스”는 한담 애플리케이션을 통해 해지할 수 있으며, “회원”이 “소모임”에 이용해지 신청서를 제출한 시점부터 계약이 종료됩니다.</p>
    <p>② “소모임”은 “회원”에게 다음 각 호에 해당하는 상황이 발생할 경우 사전 통보 없이 “서비스”를 중지할 수 있습니다.</p>
    <ol>
      <li>1. “한담” 이 휴·폐업된 경우</li>
      <li>2. “한담” 고객이 6개월 이상 서비스에 로그인하지 않은 경우</li>
      <li>3. “서비스”의 안정적 운영을 고의로 방해한 경우</li>
      <li>4. 기타 정상적인 “서비스”운영에 방해가 된다고 “소모임”이 판단한 경우</li>
    </ol>
    <p>
      ③ “소모임”은 “회원”에게 다음 각 호에 해당하는 상황이 발생할 경우 “회원”에게 사전 통보 후 “서비스” 이용계약을 해지할 수 있습니다. 다만, 회원이 현행법 위반 및 고의 또는 중대한 과실로 소모임에
      손해를 입힌 경우에는 사전 통보 없이 이용계약을 해지할 수 있습니다.
    </p>
    <ol>
      <li>1. “회원”이 “서비스” 이용 해지를 요청한 경우</li>
      <li>2. “회원”이 본 약관상의 의무를 지속적으로 위반한 경우</li>
      <li>3. 타인의 명의 또는 인적사항을 도용한 경우</li>
      <li>4. “서비스”의 이용과 관련하여 건전한 이용을 저해하는 행위를 하거나, 기타 관계법령을 위반한 경우</li>
    </ol>
    <p>④ “소모임”는 제5조제2항 각 호에 명시된 “서비스” 중지 사유에 대하여 상당한 기간을 정하여 “회원”에게 시정의 기회를 부여하며, “회원”이 그 시정기간 내에 시정을 하지 않았을 경우 “서비스”를
      해지할 수 있습니다.</p>
  </article>
  <article>
    <h3>제 7 조 (서비스 이용시간)</h3>
    <p>① “서비스”의 이용시간은 “소모임”의 업무상 또는 기술상의 특별한 지장이 없는 한 연중무휴, 1일 24시간을 원칙으로 합니다.</p>
    <p>② “소모임”는 서버 등 정보통신설비의 보수점검, 노후 및 고장에 의한 교체, 통신망 두절 또는 기타 운영상 상당한 이유가 있는 경우 “서비스”의 제공을 일시적으로 중단할 수 있습니다. 이 경우
      “회원”에게 사전 통지 또는 공지함을 원칙으로 하며, 부득이한 경우에는 사후 통지할 수 있습니다.</p>
  </article>
  <article>
    <h3>제 8 조 (소모임의 의무)</h3>
    <p>① “소모임”은 특별한 사정이 없는 한 “서비스”를 계속적이고 안정적으로 제공하기 위하여 최선을 다해 노력합니다.</p>
    <p>② “소모임”은 “서비스”의 제공 설비를 항상 운용 가능한 상태로 유지 보수하며, 설비에 장애나 오류가 발생한 경우 지체 없이 이를 수리 복구할 수 있도록 최선을 다하여 노력합니다.</p>
    <p>③ “소모임”는 “회원”으로부터 제기되는 의견이나 불만이 정당한 것으로 인정될 경우 또는 스스로 오류가 있음을 확인한 때에는 신속히 처리하여야 합니다. 다만, 신속한 처리가 곤란한 경우 “회원”에게 그
      사유와 처리 일정을 “서비스” 내 공지사항, 이메일, 전화 등의 방법으로 통지합니다.</p>
  </article>
  <article>
    <h3>제 9 조 (회원의 의무)</h3>
    <p>① “회원”은 본 약관 및 관계 법령을 준수하여야 하며, “소모임”의 정상적인 업무 수행을 방해하는 행위를 해서는 안됩니다.</p>
    <p>② “회원”은 “소모임”에게 정확한 정보를 제공하여야 하며, 정보에 변경사항이 발생한 경우 즉시 통보해야 합니다.</p>
    <p>③ “회원”은 “서비스”와 관련하여 “소모임”이 통지하는 사항을 준수하여야 합니다.</p>
    <p>④ “회원”은 다음 각 호에 해당하는 행위를 하여서는 안됩니다.</p>
    <ol>
      <li>1. 정보의 등록 또는 변경 시 허위내용 등록</li>
      <li>2. 타인의 정보 도용</li>
      <li>3. “소모임” 또는 제3자의 지식재산권에 대한 침해</li>
      <li>4. “소모임” 또는 제3자의 명예 훼손 및 업무방해</li>
      <li>5. 음란한 문자, 음향, 화상, 영상, 기타 공서양속에 반하는 정보의 공개 또는 게시</li>
      <li>6. “소모임”의 동의 없이 영리 목적의 복제, 전송, 출판, 배포, 방송, 기타 방법에 의하여 이용하거나 제3자에게 전달 이용</li>
      <li>7. 기타 불법하고 부당한 행위</li>
    </ol>
    <p>⑤ “소모임”은 “회원”이 본조 각 항의 의무를 위반하는 내용을 담고 있는 게시물을 게시한 경우 그 게시물에 대하여 수정 또는 삭제할 권한을 갖습니다.</p>
  </article>
  <article>
    <h3>제 10 조 (손해배상)</h3>
    <p>① “소모임” 또는 “회원”은 어느 일방이 본 약관에서 정한 의무를 위반함에 따라 상대방에게 손해가 발생한 경우 귀책당사자에게 손해배상을 청구할 수 있습니다.</p>
    <p>② 본 약관에서 정한 의무 위반 등으로 인하여 제3자와의 사이에 분쟁 발생 시 귀책사유가 있는 일방 당사자는 자신의 책임과 비용으로 상대방을 면책시키고, 그로 인한 상대방의 모든 손해를 배상하여야
      합니다.</p>
  </article>
  <article>
    <h3>제 11 조 (면책사항)</h3>
    <p>“소모임”은 다음 각 호의 어느 하나에 해당하는 사유로 인해 발생된 피해에 대해 “소모임”의 고의 또는 과실이 없으면 책임의 전부 또는 일부를 지지 않습니다.</p>
    <ol>
      <li>1. 전시, 사변 등 국가비상사태, 천재지변, 기간통신사업자의 서비스 제공 중단, 전력공급 중단, 해커의 침입, 기타 이와 유사한 사정으로 인한 시스템의 작동불능 등 “소모임”의 귀책사유 없이
        “서비스”를 제공할 수 없는 경우
      </li>
      <li>2. 통신기기 및 회선의 장애 또는 기타 불가피한 사정으로 인한 “소모임”의 전산시스템 장애 등으로 업무처리가 지연되거나 거래가 안 된 경우</li>
      <li>3. “소모임”이 통상적인 업무처리 절차에 의거 합리적으로 요구되는 충분한 주의 의무를 다한 경우</li>
      <li>4. “소모임”이 “회원”의 거래지시 내용대로 금융 업무를 처리한 경우</li>
      <li>5. “회원”의 착오 또는 오류 신청에 따른 업무처리의 경우</li>
      <li>6. “회원”이 “서비스” 접근수단을 제3자에게 대여하거나 사용을 위임하거나 양도 또는 담보 목적으로 제공한 경우</li>
      <li>7. 기타 “회원”의 귀책사유가 있는 경우</li>
    </ol>
  </article>
  <article>
    <h3>제 12 조 (약관의 변경)</h3>
    <p>① “소모임”은 새로운 “서비스”의 적용, 보안체계의 향상 및 유지, 정부 등 공공기관에 의한 시정명령 이행, 기타 “소모임”의 필요에 의하여 약관을 변경하여야 할 필요가 있다고 판단될 경우 관계법령을
      위반 하지 않는 범위 내에서 본 약관을 개정할 수 있습니다.</p>
    <p>② “소모임”은 본 약관을 개정하는 경우, 개정 약관의 적용일자 및 개정사유를 명시하여 현행 약관과 함께 공지사항에 게시하는 방법으로 “회원”이 사전에 인지할 수 있도록 약관 적용 30일 전부터 적용
      전일까지 공지합니다. 단, 신속히 개정 약관을 적용하여야 할 부득이한 사유가 있는 경우에는 7일 이상의 기간 동안 공지한 후 개정 약관을 적용할 수 있습니다.</p>
    <p>③ “소모임”이 전항에 따라 개정약관을 공지 또는 통지하면서 “회원”에게 30일 기간 내에 별도의 의사표시를 하지 않으면 약관 개정에 대한 동의의 의사표시가 표명된 것으로 본다는 뜻을 명확하게 공지 또는
      통지하였음에도 “회원”이 명시적으로 거부의 의사표시를 하지 아니한 경우 “회원”이 개정 약관에 동의한 것으로 봅니다.</p>
    <p>④ “회원”에게 불리하게 약관이 개정되는 경우, 본조 2항에 따른 공지 외에 일정기간 “서비스” 내 공지사항, 이메일 등의 전자적 수단을 통해 따로 명확히 통지하도록 합니다.</p>
    <p>⑤ “회원”이 개정 약관의 적용에 동의하지 않는 경우, “소모임”는 개정 약관의 내용을 적용할 수 없으며, 이 경우 “소모임” 또는 “회원”은 이용계약을 해지할 수 있습니다.</p>
  </article>
  <article>
    <h3>제 13 조 (소유권 등)</h3>
    <p>① 본 약관을 통해 “소모임”은 “회원”에게 “서비스”에 대한 사용권만을 부여합니다.</p>
    <p>② “회원”은 “소모임”이 제공하는 “서비스”를 “소모임”의 사전 동의 없이 영리 목적으로 복제, 전송, 출판, 배포, 방송, 기타 방법에 의하여 이용하거나 제3자에게 이용하게 하여서는 안됩니다.</p>
    <p>③ “회원”이 “서비스”에 게재한 게시물, 자료에 관한 권리와 책임은 이를 게재한 “회원”에게 있습니다. “회원”은 게재한 게시물, 자료에 대하여 “서비스” 내의 게재권을 가지며, “소모임”은 게재한
      “회원”의 동의 없이 이를 영리적인 목적으로 사용하지 않습니다.</p>
  </article>
  <article>
    <h3>제 14 조 (분쟁해결 및 관할 법원)</h3>
    <p>① 본 약관의 해석과 관련하여 이견 또는 분쟁이 발생한 경우 해당 관련법규를 따르고 관련법규가 없으면 관습 및 신의성실의 원칙에 입각하여 당사자간 상호 협의하여 해결하기로 합니다.</p>
    <p>② 본 약관과 관련하여 발생한 분쟁이 원만하게 해결되지 아니한 경우 이와 관련된 소송의 관할법원은 민사소송법에서 정하는 바에 따릅니다.</p>
  </article>
  <article>
    <h3>제 15 조 (기타)</h3>
    <p>① 본 약관에서 명시되지 아니한 사항은 상호 합의하여 따로 정할 수 있으며, 필요시 별도의 추가약정서 등 관련 서류를 작성하여 추가할 수 있습니다.</p>
    <p>② “소모임”과 “회원” 사이에 개별적으로 합의한 사항이 본 약관에 정한 사항과 다를 때에는 그 합의사항을 본 약관에 우선하여 적용합니다.</p>
    <p>- 부칙 -</p>
    <p>이 약관은 2018년 08월 15일부터 시행됩니다.</p>
  </article>
</section>
